body{
  background-color: aqua;
}
.gameImg{
  height:100%;
  width: 100%;
}

.smallImg{
  height:3em;
  width: 3em;
}

.game-image {
  position: relative;
}

.game-img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: rgba(173, 216, 230, 0.61);
  border: 1px solid #ccc;
  padding: 10px;
  display:flex;
  gap: 1em;
}

.circle{
  border: .5em dotted rgb(52, 233, 7);
  border-radius: 50%;
  width: 6em;
  height: 6em;
  text-align: center;
  line-height: 3em;
  margin: 0 auto;
  position: absolute;

}

.characterSelect:hover{
background-color: rgba(240, 248, 255, 0.486);
border-radius: 100px;
width: 4em;
height: 4em;
display: flex;
align-items: center;
justify-content: center;

}


.characterSelect{
  
  border-radius: 100px;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }