body {
  background-color: rgb(45, 98, 158);
  font-family: 'Orbitron', sans-serif;
  margin:0
}
/*retrybtn */
.retryButton{
  background-color: rgb(45, 98, 158);
  color: white;
  border-radius: 1em;
  border: 1px solid white;
  padding: .5em;
  margin: .5em;
  font-size: .75em;
  font-family: 'Orbitron', sans-serif;
  height: 10%;
  width:30%;
  margin-bottom: 2%;
}

.submitButton{
  background-color: rgb(45, 98, 158);
  color: white;
  border-radius: 1em;
  border: 1px solid white;
  padding: .5em;
  margin: .5em;
  font-size: .75em;
  font-family: 'Orbitron', sans-serif;
  height: 10%;
  width:30%;
}

.startButton{
  background-color: rgb(45, 98, 158);
  color: white;
  border-radius: 1em;
  border: 1px solid white;
  padding: .5em;
  margin: .5em;
  font-size: .75em;
  font-family: 'Orbitron', sans-serif;
  height: 10%;
  width:30%;
}
.retryBtnCont{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5%;
}
.buttonAndImgs{
  width:50%;
  height: 100%;
}
.timerPart{
  width:20%
}
/*character imgs*/
.smallCharImg {
  height: 3em;
  width: 3em;
}

.game-img {
  width: 100%; 
  height: 100%; 
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  border-radius:1em;
  background: rgba(12, 112, 146, 0.61);
  border: 1px solid #ccc;
  padding: .3em;
}

.circle {
  border: 0.5em dotted rgb(52, 233, 7);
  border-radius: 50%;
  width: 6em;
  height: 6em;
  text-align: center;
  line-height: 3em;
  margin: 0 auto;
  position: absolute;
}

.redCircle{
  border: 0.5em dotted red;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  text-align: center;
  line-height: 3em;
  margin: 0 auto;
  position: absolute;
}
.characterSelect:hover {
  background-color: rgba(240, 248, 255, 0.486);
  border-radius: 2em;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterSelectContainer {
  
height: 4em;
width:14em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}
.logo{
  font-size: 55px;
}
.header{
  position: sticky;
  top:0;
  width:100%;
  background-color: rgb(40, 62, 158);
  display:flex;
  justify-content: space-around;
}
.charactersHeaderContainer{
  display: flex;
  gap:1.5em;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
.charactersInHeader{
  display: flex;
  gap:1.5em;
  padding-bottom: .25em;
  align-items: center;
  justify-content: center;
}
/*leaderboard*/
.scoreBoard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-radius: 1em;
  padding: .5em;
  margin: .5em;
}

.playerScore{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  padding: 1em;
  border: 2px solid black
}

.scoreListing{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.listingTitle{
  text-decoration: underline .2em solid black;
  margin-bottom: 0px;
}

.leaderboardTitle{
  text-decoration: underline .1em solid black;
}

/*Home*/
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%
}


/*leader board form*/
.leaderboardForm{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.leaderboardForm2{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:.25em;
  flex-direction: column;
  padding-top: 5%;
}

.homeHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding-top: 15%;
}
.scoreInput{
  background-color: transparent;
  border: none;
 width: 1.5em;
 color: black;
 font-size: 1.25em;
 align-self: center;
}

.nameInput{
  background-color: rgb(102, 102, 180);
}
.labelAndScore{
display: none;
}